h2 {
  font-size: 5.5rem;
  margin-bottom: 80px;
}

h5 {
  font-size: 3rem;
}

.header--presentation h3 {
  font-size: 3rem;
}
.header--presentation p {
  font-size: 2rem;
}
.header--text-container{
  font-size: 2.2rem;
  line-height: 4rem;
  max-height: 248px;
}
.cite-container {
  padding: 20px;
  margin-bottom: 5vw;
}

.cite-space {
  display: none;
}

.CTA-text {
  margin-top: 20px;
}

.projects {
  padding-bottom: 70px;
  padding-top: 80px;
}

.project--articles-container li {
  
}

.project--articles-container h5 {
  padding: 50px;
  padding-bottom: 0px;
}

.project--articles-container p {
  font-size: 2.2rem;
  padding: 55px;
}



.visit-site-button {
  font-size: 1.8rem;
}

.contact {
  display: flex;
  
}

footer div {
  padding-top: 30px;

}



footer figure {
  padding-top: 28px;
}