.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header--text-container{
  font-size: 1.2rem;
}
.cite-container {
  padding: 12px;
}
h2 {
  margin: 30px auto;
  font-size: 3.5rem;
}

.contact h2 {
  margin-bottom: 0;
}

footer h3 {
  font-size: 1.6rem;
}