*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

:root {
  --darkest-blue: #1b262c;
  --dark-blue: #0f4c75;
  --high-blue: #3282b8;
  --old-skyblue: #bbe1fa;
  --sky-blue: #99E1FA;
  --just-white: #fff;
  --grey-chill: #C9C9C9;

  --purple: #c0ffb3;
  --purple-blue: #222831;
  --blue-fantasy: #eeeeee;
  --blue-clear: #393e46;

}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--purple);
}

.header--header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  height: auto;  
}

.header--text-container {   
  font-size: 1rem;
  max-width: 50vw;
  margin: 6vh;
  margin-left: 10vw;
  margin-top: 0vh; 
  margin-bottom: 0.2rem;
  padding: 5px;
  padding-right: 0;
  text-align: justify;
  line-height: 1.1rem;
}

.header--text-container .cite {
  position: relative;
  font-style: italic;
  font-size: 0.7rem;
  margin: 0;
  text-align: end;
}

.header--imgContainer {
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  width: 25vw;
  height: 25vw;
  border: 2px solid var(--purple-blue) ;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url('../assets/imgs/perfilcomprimida.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat 
}

.header--button{
  position: relative;
  bottom: -20px;
  display: flex;
  align-self: center;
  align-items: center;
  background-color: #fff;
  width: 130px;
  height: 40px;
  padding: 8px;
  border-radius: 9px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--darkest-blue);
  text-decoration: none;
  vertical-align: text-top; 
}

.header--button span {
  background-image: url('../assets/icons/mdi_keyboard_arrow_down2.svg');
  background-size: cover;
  display: inline-block;
  width: 19.5px;
  height: 18px;
  margin-left: 10px;
  
  vertical-align: text-bottom;
}



/* ------------------------BODY------------------------ */

body {
  min-width: 320px;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* PROYECTOS */

li article {
  max-width: 800px;
  display: block;
}

article img {
  max-width: 500px;
}
article figure {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}

section {
  padding: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  color:var(--just-white);
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.projects {
  background-color: var(--purple-blue);
  height: auto;
  color: white;    
}


.projects ul li {  
  list-style: none;
  background-color: var(--just-white);
  border: 1rem;
  height: auto;
  font-size: 2.5rem;
  padding: 2rem;
  margin: 2rem;
  color: black;
}

.project--articles-container {
  display: flex;
  justify-content: center;
}

.project--articles-container p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 10px 5px 0;
}

.project--articles-container img {
  width: 100%;
  height: auto;
}

.project--article-contaainer article img {
  max-width: 440px;
}

.visit-site-button {
  position: relative;
  left: calc(50% - 55px);
  bottom: -35px;
  padding: 10px;
  width: 500px;
  /* border-radius: 9px; */
  border: none;
  box-shadow: 2px 2px 3px rgba(89, 73, 30, 0.16);
  background-color:var(--grey-chill);
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--darkest-blue);
}


/* CONTACTO */

.contact {
  background-color: var(--blue-fantasy);
  height: auto;
}

.contact h2 {
  color: var(--purple-blue);
}

form{
  padding: 3rem;
  margin: 18px;
}

form label {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 100%;
  text-align: center;
}

label span {
  text-align: center;
  font-size: 2rem;
  margin: 7px;
  
}

label input {
  height: 12vw;
  width: 70vw;
  border-radius: 10px;
  border: 1px solid var(--darkest-blue) ;
}



/*----------------- FOOTER --------------------------- */

footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--blue-clear);

}

footer div {
  width: 50%;
  padding: 2rem;
  text-align: center;
  color: var(--just-white);  
}

footer div h3 {
  font-weight: 300;
}

footer figure{
  display: flex;
  justify-content: space-around;
  width: 50%;
}


    
