header {
  padding: 13px;
}

.header--button {
  font-size: 1.8rem;
  width: auto;
  padding: 30px 25px;
  bottom: -35px;

}

.header--button span {
  width: 2.6rem;
  margin-bottom: 8px;
}
.header--text-container{
  font-size: 1.6rem;
}
.cite-container {
  padding: 15px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin: 30px auto;
  font-size: 3.5rem;
}

h5 {
  font-size: 2.5rem;
}

.projects {
  padding-bottom: 70px;
  padding-top: 50px;
}

.projects ul {
  display: flex;
  margin: 0 auto;
}

.project--articles-container h5 {
  padding: 50px;
  padding-bottom: 0px;
}

.project--articles-container p {
  font-size: 1.7rem;
  padding: 55px;
  padding-top: 30px;
}

.visit-site-button {
  font-size: 1.6rem;
}

.contact form {
  padding: 50px;
  padding-top: 0;
}

.contact h2 {
  width: 100vw;
  margin: 30px auto;
  text-align: center;    
}

.contact label span {
  font-size: 2.5rem;
}

.contact input {
  height: 8vh;
  width: 100%;
}

footer {
  flex-wrap: wrap;
  justify-content: center;
}

footer h3 {
  font-size: 2.5rem;
}

footer div {
  font-size: 2.4rem;
  width: 2000px;    
}

footer figure {
  padding-top: 30px;
}

footer figure img {
  width: 60px;
}